<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.widgetkit-extension</string>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>SupportedFamilies</key>
      <array>
        <string>systemSmall</string>
        <string>systemMedium</string>
        <string>systemSmallDynamicIsland</string>
        <string>systemMediumDynamicIsland</string>
      </array>
      <key>IntentsSupported</key>
      <array>
        <string>SnoozeAlarmIntent</string>
        <string>DismissAlarmIntent</string>
      </array>
      <key>IntentsRestrictedWhileLocked</key>
      <array>
        <string>SnoozeAlarmIntent</string>
        <string>DismissAlarmIntent</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
