<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Fabrizio.Todoo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>todoo</string>
			</array>
		</dict>
	</array>
	<key>NSAlarmKitUsageDescription</key>
	<string>Needed to schedule alarms</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INShortcut</string>
		<string>RemoveNoteAlarmIntent</string>
		<string>ScheduleNoteAlarmIntent</string>
		<string>SnoozeAlarmIntent</string>
		<string>DismissAlarmIntent</string>
	</array>
</dict>
</plist>
